@media screen and (min-width: 320px){
    .slider__slide-content .slide-content__title{
        width: 100%;
        font-size: 3.2rem;
    }
    .slider__slide-content .slide-content__add-text{
        display: none;
    }
    .slider__slide-img{
        width: 46.2rem;
        height: 26.1rem;
        left: -12.5rem;
        top: .4rem;
    }
    .slider{
        margin-top: 2rem;
    }
    .slider__slide-content{
        top: 50%;
        max-width: 70%;
    }
    .slider__btn-container{
        display: none;
    }
    .slider__navigation-dots{
        left: 40%;
    }
}

@media screen and (min-width: 768px){
    .slider{
        margin-right: 0;
        margin-left: 0;
    }
    .slider__slide{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .slider{
        margin-top: 8rem;
        position: relative;
    }
    .slider__slide-img{
        width: 57.1rem;
        height: 32.1rem;
        left: 7.9rem;
        top: -6.2rem;
    }
    .slider__slide-content{
        top: 45%;
        max-width: 100%;
    }
    .slider__slide-content .slide-content__title{
        font-size: 5.4rem;
    }
    .slider__navigation-dots{
        left: 50%;
    }
}

@media screen and (min-width: 1024px){
    .slider .slider__slide-content{
        left: 5%;
        top: 15%
    }
    .slider__slide-content .slide-content__title{
        font-size: 5.4rem;
    }
    .slider__slide-content .slide-content__add-text{
        display: inline-block;
        margin-bottom: 2rem;
    }
    .slider__slide-img{
        width: 67.5rem;
        height: 37.9rem;
        left: 25.3rem;
        top: 7.5rem;
    }
    .slider__slide-content{
        top: 15%;
        max-width: 50%;

    }
    .slider__btn-container{
        display: block;
    }

}
@media screen and (min-width: 1440px){
    .slider__slide-img{
        width: 84.123rem;
        height: 47.356rem;
        left: 50.3rem;
        top: 0;
    }
}

.slider{
    position: relative;
    overflow: hidden;
}


.slider__slide{
    display: none;
    overflow: hidden;
    background-color: #000;
    position: relative;
    width: 100%;
    border-radius: 3rem;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    max-height: 47rem;
    height: 48rem;
}

.slide-animation{
    animation: slideOut 1s;
}
@keyframes slideOut {
    from{
        opacity: .5;
    }
    to{
       opacity: 1;
    }
}


.slider__slide-content{
    z-index: 2;
    position: absolute;
    left: 5%;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
}
.slide-content__title{
    font-size: 5.4rem;
    margin-bottom: 2rem;
}
.slide-content__add-text{
    display: inline-block;
    margin-bottom: 2rem;
}
.slide-content__btn{
    color: #ffffff;
    background-color: #FF9514;
    border: solid #FF9514 !important;
    max-width: 20rem;
}
.slide-content__btn:hover{
    background-color: #fff;
    color: #FF9514;
}
.slider__slide-img{
    position: absolute;
    z-index: 1;
}

.slider__slider-navigation{
    z-index: 3;
    width: 100%;
    position: absolute;
    bottom: 5%;
    right: 10%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.slider__slider-navigation > .inactive:first-child, .inactive{
    width: 3rem !important;
    height: 3rem !important;
    stroke-width: 1px !important;
    stroke: none !important;
    font-size: 2rem !important;
    cursor: default  !important;
}
.slider__slider-navigation > .inactive:first-child, .inactive:hover {
    background-color: transparent;
    stroke: transparent;
}

.slider__btn-container{
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #000;
    opacity: .8;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.slider__btn-container > div:last-of-type > span, .slider__btn-container > svg{
    pointer-events: none;
}
.slider__btn-container:hover{
    background-color: #000;
    opacity: 1;
}
.slider__btn-container:hover svg circle{
    stroke: white !important;
}

.slider__btn-container svg{
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
    transform: rotate(-90deg);
}
.slider__btn-container svg circle{
    width: 2.4rem;
    height: 2.4rem;
    fill: none;
    stroke-width: 4px;
    transform: translate(5px, 5px) ;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    stroke: #c4c4c4;
}

.slider__next-slide-btn-animation{
    animation: fillIn 10s linear infinite forwards;
}
@keyframes fillIn {
    0%{
        stroke-dashoffset: 400;
    }
    100%{
        stroke-dashoffset: 270;
    }
}
.slider__btn-container > div > span {
    font-size: 3rem;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}
.slider__btn-container > div > .disabled{
    display: none;
}

.slider__navigation-dots{
    position: absolute;
    bottom: 0;
    flex: 0 0 10%;
    justify-content: space-around;
    -webkit-justify-content: space-around;

}
.slider__navigation-dots .slider__navigation-dot{
    width: .8rem;
    height: .8rem;
    background-color: #575757;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 1rem;
    transition: .3s all ease;
}
.slider__navigation-dots .slider__navigation-dot:hover{
    background-color: #fff;

}
.slider__navigation-dots .slider__navigation-dot:active{
    background-color: #000;

}
.slider__navigation-dots .slider__navigation-dot_current{
    background-color: #fff;
    width: 1rem;
    height: 1rem;
}

